<%- include("partials/header") %>

<h1>Landing page</h1>


<p>
  Lorem ipsum dolor sit amet consectetur 
  adipisicing elit. Dignissimos, velit? 
  Tempora esse, unde cum et laboriosam, 
  soluta, asperiores tempore cupiditate 
  hic quia quis! Facere, in earum rem 
  maxime ex asperiores!
</p>

<a href="/campgrounds">View all campgrounds</a>

<%- include("partials/footer") %>